@font-face {
  font-family: 'MaPolicePerso';
  src: url('/_assets/___dwn/font/uicons/uicons-regular-straight.woff2') format('woff2'),
      url('/_assets/___dwn/font/uicons/uicons-regular-straight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


